canvas {
  display: inline;
  	background-image: url('https://upload.wikimedia.org/wikipedia/en/9/99/Choate_Rosemary_Hall_-_Arts_Center.JPG');
    background-repeat: no-repeat;
    background-size: 500px;
}
© 2020 GitHub, Inc.
